@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500&display=swap');

/* shared color */
* {
    font-family: 'Work Sans', sans-serif;
}

.text-llight-gray {
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
}

.our {
    font-size: 3rem;
    font-weight: 700px;
    color: #131313;
}

.btn-primary {
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-weight: 600px;
    border-radius: 8px;
    background: #FF900E;
    padding: 18px 22px;
    cursor: pointer;
}

header {
    background: rgba(255, 144, 14, 0.10);

    padding: 50px 240px;
}

/* navber */
.navber {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navber h3 {
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
}

.navber>ul {
    display: flex;

}

.navber li {
    list-style: none;
    margin-right: 30px;
}

.navber li a {
    /* padding-right: 20px; */
    text-decoration: none;
    color: #424242;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
}

/* banner */
.banner-container {
    max-width: 800px;
    text-align: center;
    margin: 0px auto;
}

.banner img {
    width: 100%;
    margin-top: 20px;
}

.banner-title {
    font-size: 4rem;
    font-weight: 700px;
    color: #131313;
}


/* main style */

main {
    max-width: 1400px;
    margin: 0 auto;

}

.teame-container {
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.teame-image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.teame-content {
    padding-left: 40px;
    padding-right: 50px;
}

.quick-list {
    color: #727272;
    font-size: 3rem;
    font-weight: 500px;
}

.featured {
    color: #FF900E;
    font-size: 3rem;
    font-weight: 700px;
}

/* some facts */

.facts-container {

    font-size: 1rem;
    font-weight: 400;
}

.facts-image-text-container {
    display: flex;
    justify-content: space-around;
    text-align: center;
    line-height: 2px;
    margin-top: 100px;

}

.facts-feature {
    border-radius: 8px;
    border: 1px solid #FF900E;
    padding: 15px  20px;
    
}

/* sponers style */

.Sponspors{
    margin-top: 60px;
}
.sponspors-text-content{
    text-align: center;
}
.sponspors-image-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
}










/* mobile device */

@media screen and (max-width:576px) {
    header {
        padding: 20px;
    }

    .navber,
    .teame-container,
    .facts-image-text-container,
    .sponspors-image-container{
        flex-direction: column;
    }
    .sponspors-image-container{
        gap:20px
    }
    .facts-image-text-container{
        gap:10px;
    }
    .teame-image {
        grid-template-columns: 1fr;
    }

    .teame-content ,
    .facts-image-text-container{
        padding: 5px;
    }

}

/* mideum device */

@media screen and (min-width:576px) and (max-width:960px) {
    header {
        padding: 20px;
    }

    .navber,
    .teame-container,
    .facts-image-text-container,
    .sponspors-image-container {
        flex-direction: column;
    }
    .sponspors-image-container{
        gap:20px
    }
    .facts-image-text-container{
        gap:10px;
    }
}